configuration {
        modi: "window,run,ssh,combi";
        font: "monospace 10";
        terminal: "xfce4-terminal";
        ssh-client: "ssh";
        ssh-command: "{terminal} -e "{ssh-client} {host}"";
        
/* ! State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
        lines: 10;
        line-padding: 5;
        */
}

@theme "~/.config/rofi/mytheme.rasi"
