#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=
Exec=
Icon=
StartupWMClass=
Comment=
Path=
StartupNotify=false
Categories=